<div class="main">
  <h1>Isis Castro - 228544</h1>
  <h1>Vinicius Moraes - 229633</h1>
  <input class="lg-text-input" #campoNovoItem (keyup.enter)="CREATE_tarefa(campoNovoItem.value)"
    (keyup.enter)="campoNovoItem.value =''" />
  <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)" (click)="campoNovoItem.value =''">
    Adicionar Tarefa</button>
  <ul>
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
      <app-item [tarefa]="tarefaDoLoop" (removeItem)="REMOVER_tarefa ($event)" (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"> </app-item>
    </li>
  </ul>
</div>
